@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

body{
    padding: 20px;
}

* {
    /*   outline: 1px solid red; */ 
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.25rem;
    }

.header{
    font-weight: 700;
}

.about_container{
max-width: 750px;
padding-top: 10px;
}


.about_item{

}

.about_divider{
    padding-top: 10px;
}

.about_more{
    padding: 0 0 0 10px;
    cursor: pointer;
    color: red;
}

.links_container{
    padding: 20px 0 0 0;
}

.links_item{
    color: red;
    text-decoration: none;
}

.connect_container{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding: 20px 0 0 0;
}
